body {
  font-family: 'Red Rose', cursive;
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px double black;

}

#main {
  display: flex;
  justify-content: space-around;
}

img {
  border: 2px solid black;
  border-radius: 2.5%;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#team1 {
  color: rgb(15, 105, 35);
  font-weight: bold;
}

#team2 {
  color: rgb(105, 15, 35);
  font-weight: bold;
}

#versus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  width: 200px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: bolder;
}

h3 {
  color: yellow;
  font-weight: bolder;
  font-size: 3em;
}

button {
  background-color: orangered;
  border: 2px solid black;
  border-radius: 2.5%;
  font-size: 1.2em;
  font-weight: bold;
}


#empty {
  height: 50px;
}

#scoreboard {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  background-color: whitesmoke;
  border: 3px double black;
  border-radius: 3%;
}

#teamScores {
  display: flex;
  justify-content: space-around;
}

#homeScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;

}

#visitingScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}